@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Monoton&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-mobile {
  box-shadow: 7px 7px black;
}

.shadow-mobile:hover {
  box-shadow: 0px 0px black;
}

.shadow-desktop {
  box-shadow: 14px 14px black;
}
