@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SofadiOne';
    src: url(./assets/fonts/logo/SofadiOne-Regular.ttf);
  }
  @font-face {
    font-family: 'Staatliches';
    src: url(./assets/fonts/title/Staatliches-Regular.ttf);
  }
  @font-face {
    font-family: 'DancingScript';
    src: url(./assets/fonts/paragraph/DancingScript-Regular.ttf);
  }
    @font-face {
    font-family: 'Righteous';
    src: url(./assets/fonts/headings/Righteous-Regular.ttf);
  }
}
